venv/
.venv/
__pycache__/
*.pyc
*.pyo
.vault_pass
.vault_password
*.retry
.DS_Store
*.swp
*~
secret.*
.terraform
*.backup
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
.ansible/

# Генерируется Terraform (terraform/ansible.tf)
ansible/inventory.ini
ansible/group_vars/terraform.yml
