:{{ http_port }} {
    reverse_proxy {
        {% for host in groups['webservers'] %}
        to {{ hostvars[host]['ansible_host'] }}:{{ wiki_port }}
        {% endfor %}
        lb_policy round_robin
        health_uri /
        health_interval 10s
        health_timeout 5s
    }
}
